body {
    margin: 0;
    padding: 0;
    min-width: 1200px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header {
    padding-top: 50px;
    padding-bottom: 1px;

    background-color: #eeeeee;
}

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-header .container {
    display: flex;
    align-items: flex-end;
}

.button {
    display: inline-block;

    font:inherit;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0,1) inset;
}

.main-navigation-wrapper {
    display: flex;
    justify-content: space-between;

    width: 800px;
    height: 50px;

    margin-left: 200px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-navigation,
.basket-navigation {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation {
    justify-content: space-between;
    flex-wrap: wrap;

    width: 440px;
}

.site-navigation a,
.basket-navigation a {
    position: relative;

    display: block;

    padding-top: 5px;
    padding-bottom: 5px;

    color: black;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.site-navigation .current::after,
.basket-navigation .current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background-color: #fb565a;
}

.basket-navigation {
    max-width: 160px;
}

.basket-link {
    position: relative;
    padding-left: 40px;
}

.basket-link::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 0px;

    display: block;

    width: 15px;
    height: 15px;

    background-image: url("svg/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0 ;
}
.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.basket-navigation a:active {
    color: rgba(0, 0 ,0 , 0.3);
}


/**   Слайдер   */
.slider {
    position: relative;

    margin-bottom: 80px;

    background-color: #eeeeee;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls-item {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;

    border-radius: 50%;
    cursor: pointer;
}

.slider-controls-item::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;

    background: #ffffff;

    border-radius: 50%;
}

.slider-controls-item.active::before {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;

    width: 4px;
    height: 4px;
    margin: -4px;

    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item {
    display: none;
    padding: 77px 0 80px 0;
}

.slider-item:nth-child(1) {
    display: block;
}
.slider-item:nth-child(1) {
    background-image: url("img/slide1.png");
    background-repeat: no-repeat;
    background-position: 99% 0;
}
.slider-item:nth-child(2) {
    background-image: url("img/slide2.png");
    background-repeat: no-repeat;
    background-position: 99% 0;
}
.slider-item:nth-child(3) {
    background-image: url("img/slide3.png");
    background-repeat: no-repeat;
    background-position: 99% 0;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}

.slider-item-button {
    padding: 16px 55px;
}

/**   /slider   */



/**   Filter   */
.filter-item {
    margin: 0;
    padding: 0;

    border: none;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f1f1f1;

    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background-color: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;

    width: 4px;
    height: 4px;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 164px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;

    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.price-controls .max-price {
    text-align: right;
}
/**   /filter   */



/**   products   */
.products {
    margin-bottom: 80px;
}

.products-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.products-item {
    width: 300px;
    height: 347px;

    margin-right: 100px;
}

.products-item:nth-child(3n) {
    margin-right: 0;
}

.products-item img {
    margin-bottom: 18px;

    width: 300px;
    height: 146px;
}

.products-item h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;

    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.products-item p {
    color: #283136;

max-width: 260px;

    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}

.products-item a {
    box-sizing: border-box;
    width: 160px;
    padding: 13px 40px;

    font: inherit;
    color: #ffffff;
}

.products-item:nth-child(3n-1) a {
    background-color: #00ca74;
}

.products-item:nth-child(3n) a {
    background-color: #efc849;
}

.products-item a:hover,
.products-item a:focus {
    background-color: #e74246;
}

.products-item a:active {
    color:rgba(255, 255, 255, 0.3);

    box-shadow: 0 0 3 0 rgba(0, 0 ,0 , 0.1);

    background-color: #d7373b;
}

.products-item:nth-child(3n-1) a:hover,
.products-item:nth-child(3n-1) a:focus {
    background-color: #00bc6c;
}

.products-item:nth-child(3n-1) a:active {
    color:rgba(255, 255, 255, 0.3);

    box-shadow: 0 0 3 0 rgba(0, 0 ,0 , 0.1);

    background-color: #00aa62;
}

.products-item:nth-child(3n) a:hover,
.products-item:nth-child(3n) a:focus {
    background-color: #eab534;
}

.products-item:nth-child(3n) a:active {
    color:rgba(255, 255, 255, 0.3);

    box-shadow: 0 0 3 0 rgba(0, 0 ,0 , 0.1);

    background-color: #e5a722;
}
/**  /products  */



/**   features   */
.features {
    margin-bottom: 48px;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 40px;

    border-top: 2px solid #eeeeee;
}

.features-item--1 {
    padding-top: 34px;
    width: 660px;
}

.features-item--1 b {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.features-item--1 p {
    margin: 0;
    padding: 0;
    
    color: #283136;

    margin-top: 32px;
    margin-bottom: 40px
}

.features-list-title {
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;

    margin-bottom: 25px;
}

.features-list {
    margin: 0;
    padding: 0;

    color: #283136;

    list-style: none;
}

.features-list li {
    position: relative;

    margin-left: 37px;
    margin-bottom: 24px
}

.features-list li::before {
    content: "";

    display: block;
    position: absolute;
    top: 10px;
    left: -36px;

    width: 25px;
    height: 2px;

    background-color: #fb565a;
}

.features-item--2 {
    width: 360px;
}

.features-item--2 img {
    width: 360px;
    height: 208px;
    margin-bottom: 30px;
    
}

.features-item--2 > b {
    display: block;

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    
    margin-bottom: 40px;
}

.indicators {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;

    margin: 0;
    padding: 0;
}

.indicators li {
    width: 120px;
}


.indicators-interest {
    display: block;

    font-size: 45px;
    line-height: 45px;
    font-weight: bold;

    margin-bottom: 20px;
}

.indicators-interest sup {
    font-size: 24px;
    vertical-align: middle;
}

.indicators p {
    margin: 0;
    padding: 0;

    line-height: 18px;
}
/**   /features   */



/**   partners   */
.partners-wrapper {
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;

    margin-bottom: 80px;
}

.partners-list { 
    display: flex;
    justify-content: space-between;

    list-style: none;

    margin: 0;
    padding: 0;
}

.partners-list li {
    position: relative;

    width: 260px;
    height: 180px;
}

.partners-list a {

    opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
    opacity: 1;
}

.partners-list a:active {
    opacity: 0.1;
}

.partners-list li::after {
    content: "";

    position: absolute;
    top: 65px;
    right: -22px;

    display: block;
    width: 2px;
    height: 52px;

    background-color: #eeeeee;
}

.partners-list li:nth-child(4n)::after {
    display: none;
}


/**   /partners   /



/**   footer    */
.background-map {
    height: 416px;

    background-image: url("img/map.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;

    margin-bottom: 69px;
}

.container-top {
    position: relative;
    height: 416px;
}

.write_us {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    box-sizing: border-box;
    width: 320px;
    height: 308px;

    padding: 50px 50px;
    
    background-color: #ffffff;
}

.write_us h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;

    margin: 0;
    padding: 0;
    margin-bottom: 23px;
}

.write_us p {
    line-height: 18px;
    color: #666666;

    margin: 0;
    padding: 0;
    margin-bottom: 18px;
}

.write_us .tel {
    margin-bottom: 36px;
}

.write_us .button {
    padding: 16px 45px;
}

.footer-bottom {
    display: flex;
}

.social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 260px;

    margin: 0;
    padding: 0;
    margin-right: 140px;

    list-style: none;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;

    background-color: #e1e1e1;
    border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;

}

.social-button:active {
    background-color: #d7373b;
}

.social-button:active img {
    opacity: 0.3;
}



.sale {
    width: 560px;

    margin: 0;
    padding: 0;
    padding-top: 7px;
}

.sale b {
    display: block;

    font-size: 36px;
    font-weight: 700;
    line-height: 36px;

    margin-bottom: 8px;
}

.sale .small {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}