body {
    margin: 0;
    padding: 0;
    min-width: 1200px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@keyframes bounce {
    0% { transform: translateY(-2000px); }
    70% { transform: translateY(30px); }
    90% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.main-header {
    padding-top: 50px;
    padding-bottom: 1px;

    background-color: #eeeeee;
}

.main-header-logo {
    width: 160px;
    height: 65px;
}

.main-header .container {
    display: flex;
    align-items: flex-end;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 16px 40px;

    font:inherit;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

    background-color: #fb565a;
    border-radius: 3px;
    border: 0;

    transition: 0.3s ease-in;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.main-navigation-wrapper {
    display: flex;
    justify-content: space-between;

    width: 800px;
    height: 50px;

    margin-left: 200px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-navigation,
.basket-navigation {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    list-style: none;
}

.site-navigation {
    justify-content: space-between;
    flex-wrap: wrap;

    width: 440px;
}

.site-navigation a,
.basket-navigation a {
    position: relative;

    display: block;

    padding-top: 5px;
    padding-bottom: 5px;

    color: black;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.site-navigation .current::after,
.basket-navigation .current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 2px;

    background-color: #fb565a;
}

.basket-navigation {
    max-width: 160px;
}

.basket-link {
    position: relative;
    padding-left: 40px;
}

.basket-link::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 0px;

    display: block;

    width: 15px;
    height: 15px;

    background-image: url("img/svg/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0 ;
}
.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active,
.basket-navigation a:active {
    color: rgba(0, 0 ,0 , 0.3);
}


/**   Slider   */
.slider {
    position: relative;

    margin-bottom: 80px;

    background-color: #eeeeee;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}

.slider-controls-item {
    position: relative;

    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 8px;
    border-radius: 50%;

    cursor: pointer;
}

.slider-controls-item::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;

    background: #ffffff;

    border-radius: 50%;
}

.slider-controls-item.active::before {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;

    width: 4px;
    height: 4px;
    margin: -4px;

    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item {
    display: none;
    padding: 77px 0 80px 0;
}

.slider-item:nth-child(1) {
    display: block;
}
.slider-item:nth-child(1) {
    background-image: url("img/slider/slide1.png");
    background-repeat: no-repeat;
    background-position: 99% 0;
}
.slider-item:nth-child(2) {
    background-image: url("img/slider/slide2.png");
    background-repeat: no-repeat;
    background-position: 99% 0;
}
.slider-item:nth-child(3) {
    background-image: url("img/slider/slide3.png");
    background-repeat: no-repeat;
    background-position: 99% 0;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}

.slider-item-button {
    padding: 16px 55px;
}

/**   /slider   */



/**   products   */
.products {
    margin-bottom: 80px;
}

.products-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;
}

.products-item {
    width: 300px;
    height: 347px;

    margin-right: 100px;
}

.products-item:nth-child(3n) {
    margin-right: 0;
}

.products-item img {
    margin-bottom: 18px;

    width: 300px;
    height: 146px;
}

.products-item h3 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;

    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.products-item p {
    color: #283136;

max-width: 260px;

    margin: 0;
    margin-bottom: 32px;
}

.products-item a {
    box-sizing: border-box;
    width: 160px;
    padding: 13px 40px;

    font: inherit;
    color: #ffffff;
}

.products-item:nth-child(3n-1) a {
    background-color: #00ca74;
}

.products-item:nth-child(3n) a {
    background-color: #efc849;
}

.products-item a:hover,
.products-item a:focus {
    background-color: #e74246;
}

.products-item a:active {
    color:rgba(255, 255, 255, 0.3);

    box-shadow: 0 0 3 0 rgba(0, 0 ,0 , 0.1);

    background-color: #d7373b;
}

.products-item:nth-child(3n-1) a:hover,
.products-item:nth-child(3n-1) a:focus {
    background-color: #00bc6c;
}

.products-item:nth-child(3n-1) a:active {
    color:rgba(255, 255, 255, 0.3);

    box-shadow: 0 0 3 0 rgba(0, 0 ,0 , 0.1);

    background-color: #00aa62;
}

.products-item:nth-child(3n) a:hover,
.products-item:nth-child(3n) a:focus {
    background-color: #eab534;
}

.products-item:nth-child(3n) a:active {
    color:rgba(255, 255, 255, 0.3);

    box-shadow: 0 0 3 0 rgba(0, 0 ,0 , 0.1);

    background-color: #e5a722;
}
/**  /products  */



/**   features   */
.features {
    margin-bottom: 48px;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;

    padding-top: 40px;

    border-top: 2px solid #eeeeee;
}

.features-item--1 {
    padding-top: 34px;
    width: 660px;
}

.features-item--1 b {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.features-item--1 p {
    color: #283136;

    margin: 0;
    margin-top: 32px;
    margin-bottom: 40px
}


.features-list-title {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;

    margin: 0;
    margin-bottom: 25px;
}

.features-list {
    margin: 0;
    padding: 0;

    color: #283136;

    list-style: none;
}

.features-list li {
    position: relative;

    margin-left: 37px;
    margin-bottom: 24px
}

.features-list li::before {
    content: "";

    display: block;
    position: absolute;
    top: 10px;
    left: -36px;

    width: 25px;
    height: 2px;

    background-color: #fb565a;
}

.features-item--2 {
    width: 360px;
}

.features-item--2 img {
    width: 360px;
    height: 208px;
    margin-bottom: 30px;
    
}

.features-item--2 > b {
    display: block;

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    
    margin-bottom: 40px;
}

.indicators {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style: none;

    margin: 0;
    padding: 0;
}

.indicators li {
    width: 120px;
}


.indicators-interest {
    display: block;

    font-size: 45px;
    line-height: 45px;
    font-weight: bold;

    margin-bottom: 20px;
}

.indicators-interest sup {
    font-size: 24px;
    vertical-align: middle;
}

.indicators p {
    margin: 0;

    line-height: 18px;
}
/**   /features   */



/**   partners   */
.partners-wrapper {
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;

    margin-bottom: 80px;
}

.partners-list { 
    display: flex;
    justify-content: space-between;

    list-style: none;

    margin: 0;
    padding: 0;
}

.partners-list li {
    position: relative;

    width: 260px;
    height: 180px;
}

.partners-list a {

    opacity: 0.2;
}

.partners-list a:hover,
.partners-list a:focus {
    opacity: 1;
}

.partners-list a:active {
    opacity: 0.1;
}

.partners-list li::after {
    content: "";

    position: absolute;
    top: 65px;
    right: -22px;

    display: block;
    width: 2px;
    height: 52px;

    background-color: #eeeeee;
}

.partners-list li:nth-child(4n)::after {
    display: none;
}
/**   /partners   /



/**   catalog   */

.inner-title {
    margin: 0;
    margin-bottom: 60px;
    padding: 85px 0 120px;

    text-align: center;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    background-color: #eeeeee;
}

.main-catalog .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    /**   Filter   */
.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f1f1f1;

    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background-color: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0;

    width: 4px;
    height: 4px;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 164px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;

    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.price-controls .max-price {
    text-align: right;
}

.filter-item {
    margin: 0;
    padding: 0;
    padding-bottom: 48px;

    border: none;
}

.range-filter {
    width: 260px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 15px;
}

.filter-item .form-legend {
    display: block;
    margin-bottom: 60px;
}

.filter-item ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.filter-option {
    margin-bottom: 15px;
    padding-left: 35px;
}

.filter-input + label {
    position: relative;

    display: block;

    font-size: 16px;
    line-height: 20px;
    color: #283136;

    cursor: pointer;
    user-select: none;
}

.filter-input-radio:not(:checked) + label::before {
    content: "";

    position: absolute;
    top: -2px;
    left: -35px;

    width: 25px;
    height: 25px;

    background-image: url("img/catalog_input_label/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;

}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    top: -2px;
    left: -35px;

    width: 25px;
    height: 25px;

    background-image: url("img/catalog_input_label/radio-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-checkbox:not(:checked) + label::before {
    content: "";

    position: absolute;
    top: -2px;
    left: -35px;

    width: 26px;
    height: 23px;

    background-image: url("img/catalog_input_label/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
    content: "";

    position: absolute;
    top: -2px;
    left: -35px;

    width: 26px;
    height: 23px;

    background-image: url("img/catalog_input_label/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
}

.filter-input:disabled + label {
    color: rgba(40, 49, 54, 0.3);
}

.filter-input:disabled + label::before,
.filter-input:disabled + label::after {
opacity: 0.1;
}

.filter-input:not(:disabled) + label:hover, 
.filter-input:not(:disabled) + label:focus {
    color: #000000;
}

.filter-input:not(:disabled) + label:hover::before, 
.filter-input:not(:disabled) + label:focus::before,
.filter-input:not(:disabled) + label:hover::after, 
.filter-input:not(:disabled) + label:focus::after {
    opacity: 1;
}

.button-form {
    box-sizing: border-box;
    width: 260px;
    padding: 16px;
    margin-bottom: 15px;

    font-weight: 500;
    color: #000000;

    background-color: #eeeeee;

    cursor: pointer;
}

.button-form:hover, 
.button-form:focus {
    background-color: #dfdfdf;
}

.button-form:active {
    color: rgba(0, 0 ,0, 0.3);

    background-color: #d5d5d5;
}
    /**   /filter   */

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    text-transform: uppercase;
    list-style: none;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    
}

.list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list b {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}




.list-sort {
display: flex;
justify-content: space-between;
width: 360px;
}

.list-sort-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-sort-items > li {
    margin-left: 20px;
}

.list-sort-items > li:first-child {
    margin-left: 0;
}

.list-sort a {
    padding: 0;
    
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;

    border: none;
    background-color: transparent;

    cursor: pointer;
}

.list-sort-items a {
    opacity: 0.3;
}


.list-sort-items a:hover,
.list-sort-items a:focus {
    opacity: 0.6;
}

.list-sort-items a.active,
.list-sort-items a:active {
    opacity: 1;
}

.list-price {
    box-sizing: border-box;
    width: 400px;
    padding-right: 140px;
}

.button-item {
    display: inline-block;
}

.list-sort .button-up {
    padding-left: 9px;
}

.list-sort .button-down {
    padding-right: 9px;
}

.triangle polygon {
    opacity: 0.2;
}

.triangle:hover polygon,
.triangle:focus polygon {
    opacity: 1;
}

.triangle.active polygon,
.triangle:active polygon {
    opacity: 1;
    fill: #231f20;
}


.main-catalog .form {
    width: 260px;
}


/**   examples   */

.examples-wrapper {
    
    width: 760px;
}
.examples-work {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 760px;
    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-item {
    position: relative;

    box-sizing: border-box;
    width: 360px;
    height: 616px;
    margin-bottom: 33px;

    border-top: 40px solid #e9e9e9;
    border-radius: 5px;

    transition: 0.6s ease-in-out;

    cursor: pointer;
}

.catalog-item:hover {
    border-top-color: #4d4d4d;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.img-catalog {
    border: 1px solid #e5e5e5;
}

.catalog-item::before {
    content: "";

    position: absolute;
    left: 16px;
    top: -27px;

    width: 14px;
    height: 14px;

    border-radius: 50%;
    background-color: #ffffff;

    box-shadow: 23px 0 0 #ffffff, 46px 0 0 #ffffff;
}

.catalog-template {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 10px 50px 45px;

    text-align: center;

    background-color: #eeeeee;

    opacity: 0;
}

.catalog-item:hover .catalog-template {
    opacity: 1;
}


.catalog-popup-caption {
    margin-top: 16px;
    margin-bottom: 16px;

    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    text-transform: uppercase;
}

.catalog-popup-caption:hover {
    color: #e74246;
}

.catalog-popup-caption:active {
    color: #000000;
    opacity: 0.3;
}

.text-simple {
    overflow: hidden;
    max-height: 380px;
    line-height: 18px;
    color: #666666;
    margin-bottom: 28px;
}
/**   pagination   */
.pagination-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    list-style: none;
}

.pagination-item {
    margin-right: 11px;
}

.button-pagination {
    min-width: 50px;
    padding: 16px 20px;

    color: #000000;

    background-color: #eeeeee;
}

.button-pagination-next {
    min-width: 260px;
}

.button-pagination:hover,
.button-pagination:focus {
    background-color: #dfdfdf;
}

.button-pagination:active {
    color: rgba(0, 0 ,0 , 0.3);

    background-color: #d5d5d5;
}

.button-pagination.current {
    background-color: #ffffff;
    box-shadow: inset 3px 3px 0 #dbdbdb,
        inset -3px -3px 0 #dbdbdb;
    cursor: text;
}


/**   /pagination   */
/**   /examples   */
/**   /catalog   */



/**   footer    */
.main-footer {
    margin-bottom: 70px;
}

.map {
    position: relative;

    margin-bottom: 69px;
}

.background-map {
    position: absolute;
    top: 0;
    left: 50%;

    width: 1440px;
    height: 416px;
    margin: 0;
    margin-left: -720px;
}

.interactive-map {
    position: relative;
    top: 0;
    left: 50%;

    width: 1440px;
    height: 416px;
    margin-left: -720px;

    overflow: hidden;

    z-index: 2;
}

.interactive-map iframe {
    width: 100%;

    border: none;
}

.write_us {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-580px, -50%);

    box-sizing: border-box;
    width: 320px;
    min-height: 308px;

    padding: 50px;
    
    background-color: #ffffff;

    z-index: 3;
}

.write_us h2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;

    margin: 0;
    margin-bottom: 24px;
}

.write_us p {
    line-height: 18px;
    color: #666666;

    margin: 0;
    margin-bottom: 18px;
}

.contact-phone {
    color: #666666;
}

.write_us-button {
    margin-top: 18px;
    width: 220px;
}




.footer-bottom {
    display: flex;
}

.social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 260px;

    margin: 0;
    padding: 0;
    margin-right: 140px;

    list-style: none;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 80px;

    background-color: #e1e1e1;
    border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
    background-color: #e74246;

}

.social-button:active {
    background-color: #d7373b;
}

.social-button:active img {
    opacity: 0.3;
}

.sale {
    width: 560px;

    margin: 0;
}

.sale b {
    display: block;
    margin-top: 7px;
    margin-bottom: 8px;

    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.sale .small {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}
/**   /footer   */



/**   modal   */
.modal {
    position: fixed;

    display: none;

    background-color: #ffffff;
    box-shadow: 0 20px 40px 0 rgba(0, 0 ,0 , 0.75);

    z-index: 20;
}

.modal-write_us {
    box-sizing: border-box;
    width: 960px;
    height: 590px;
    padding: 67px 100px 84px;

    top: 50%;
    left: 50%;

    margin-left: -480px;
    margin-top: -295px;

    /** transform: translate(-50%, -50%);*/
}

.modal-write_us h2 {
    margin: 0;
    margin-bottom: 40px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.login-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.login-form p {
    margin: 0;
    margin-bottom: 35px;
}

.login-name,
.login-email {
    width: 360px;
}

.login-form label {
    display: block;

    font-size: 16px;
    line-height: 18px;
    font-weight: bold;

    margin-bottom: 10px;
}

.login-form input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 14px;

    font: inherit;
    color: #a1a1a1;

    border: 2px solid #e4e8e9;
    border-radius: 2px;
}

.modal .login-textarea {
    width: 760px;
    margin-bottom: 40px;
}

.login-form textarea {
    box-sizing: border-box;
    width: 100%;
    height: 118px;
    
    padding: 10px 14px;
    
    font-size: 16px;
    line-height: 18px;
    color: #a1a1a1;

    border: 2px solid #e4e8e9;
    border-radius: 2px;
}

.login-form input:hover,
.login-form textarea:hover {
    border-color: #b4b9bb;
}

.login-form input:focus,
.login-form textarea:focus {
    color: #444444;
    border-color: #000000;
    outline: 0;
    
}

.login-form input:invalid,
.login-form textarea:invalid {
    color: #e74246;
    border-color: #e74246;
}

.login-form button {
    box-sizing: border-box;
    width: 260px;
    padding: 16px;
}

.modal-close {
    position: absolute;

    top: 78px;
    right: 90px;

    width: 21px;
    height: 21px;

    font-size: 0;

    border: none;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 8px;
    left: -3px;

    width: 27px;
    height: 5px;

    background-color: #fb565a;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.modal-show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}

/**   /modal   */